@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Roboto Slab', serif;
}

.projectDisplaying{ 
    background-color: black; 
    width: 500px;
    margin-top: 30px;
    height: 850px;
    border-radius: 8px 8px 8px 8px;
    color: white;

}

.projectDisplaying h1{
    color: white;
    font-size: 45px;
    margin-bottom: 30px; 
    padding-top: 50px;
    text-align: center;
}


.projectDisplaying button{
    background-color: rgba(122, 121, 121, 0.621); 
    display: flex; 
    color: white;
    justify-content: center; 
    align-items: center; 
    width: 150px; 
    height: 50px; 
    margin: auto;
    border-radius: 8px;
    padding-left: 0px;
}

.projectDisplaying button:hover{
    background-color : rgba(94, 94, 94, 0.621); 
}

.project-list{
    margin-top: 50px;
    margin-left: 5px;
    overflow-y: auto;
    max-height: 600px;
}



.project-list li{
    font-size: 18px; 
    margin-top: 18px;
    height: 45px;
    color: rgb(198, 198, 198); 
    padding-left: 13px;
    padding-right: 0px;
    padding-top: 19px;
    padding-bottom: 56px;
    border-radius: 8px;
}

.project-list li:hover{
    color: white; 
    background-color: rgba(94, 94, 94, 0.621); 
}

.grid{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* justify-content: space-between; */
}

.project-setting{
    width: 1600px;
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
    text-align: center;
    justify-content: center; 
    align-items: center;
}

.project-setting h1{
    font-size: 43px;
}

.project-setting p{
    margin-top: 15px;
    font-size: 25px;
    margin-bottom: 15px;
}

.project-setting button{
    background-color: rgb(32, 28, 28); 
    color: white;
    height: 50px;
    width: 200px; 
    border-radius: 14px;
    font-size: 20px;
}

/* styling user project panel */ 
.project-panel{
    width: 1280px;
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 40px; 
    display: flex;
    flex-direction: column;
    text-align: left; 
}


.display-project-details{
    /* background-color: aqua; */
    height: 260px; 
    border-bottom: 2px solid gray;
    
}

.display-project-details h1{

    margin-top: 40px;
    font-size: 50px;
}

.display-project-details div{
    font-size: 18px; 
    word-spacing: 4px;
    color: gray;
    margin-top: 50px;
    margin-left: 5px;
    overflow-y: auto;
    max-height: 600px;
}

.display-project-details h2{
    margin-top: 17px; 
    font-size: 18px;
}


.add-tasks{
    margin-top: 25px;
    height: 75px; 
    /* background-color: aqua; */
}

.add-tasks h1{
    font-size: 40px; 
}

.add-tasks input{
    margin-top: 14px;
    border: 2px solid blue; 
    background-color: rgb(167, 166, 166); 
    border-radius: 3px;
    width: 450px;
}

.n1{
    margin-top: 50px;
    margin-left: 5px;
    overflow-y: auto;
    max-height: 390px;
}

.input{
    display: flex;
    flex-direction: row; 
    
}

.input button{
    width: 140px; 
    border-radius: 3px; 
    color: black; 
    margin-top: 13px;
    font-size: 20px;
}

.display-tasks li{
    font-size: 18px; 
    margin-top: 18px;
    height: 45px;
    padding-left: 13px;
    padding-right: 0px;
    padding-top: 39px;
    padding-bottom: 56px;
    border-radius: 8px;
}

.display-tasks li:hover{
    color: black; 
    background-color:rgb(236, 233, 233);
}


.button-and-title{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.button-and-title button{
    color: black;
    font-size: 21px;
}

.tasks{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.tasks button{
    font-size: 23px;
}

.tasks ul li {
    width: 94%;
}



/* designing scroll bar */ 
::-webkit-scrollbar {
    width: 5px;
}
  

::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.nav{
    display: flex;
    height: 65px;
    background-color:#333;
    display: flex; 
    padding: 15px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;  
    font-size: 24px;
}

.nav-links1{
    /* margin: 18px;  */
    text-decoration: none;
    /* padding: 10px; */
    justify-content: space-between; 
    flex-wrap: wrap;
}

.nav-links2{
    margin: 21px; 
    padding: 10px;
    justify-content: space-between;
}

nav a{
    margin: 15px;
    font-size: 24px; 
    text-decoration: none;
    color: white;
    padding: 13px;
    font-family: 'Nunito Sans', sans-serif; 
}

nav a:hover {
    background-color: #555; 
}

.intro{
    margin-top: 4px; 
    height: 790px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    /* background-color: #888; */
    width: 1200px;
}

.intro h1{
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    /* add animation */ 
    overflow: hidden; /* Ensures the text is not revealed until the animation */
    /* border-right: .15em solid orange;  */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    animation: typewriter 2s steps(13) infinite alternate,blink 800ms steps(13) infinite normal;
    animation-iteration-count: infinite;
    border-right: 2px solid black;
}

/* type writer animation */ 
@keyframes typewriter {
    from { width: 0 }
    to { width: 100% }
}

/* cursor animation */ 
@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}

.divl{
    display: flex; 
    flex-direction: row;
}

.feedback{
    /* background-color: #555;  */
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    justify-content: space-evenly;
}

.feedback h1{
    font-size: 45px;
    background-color: black; 
    color: white;
    padding-left: 18px;  
    padding-right: 18px; 
    padding-top: 18px; 
    padding-bottom: 18px;  
    border-radius: 4px; 
    /* border: 5px solid grey; */
}

.feedback label{
    font-size: 24px; 
    margin-top: 63px;  
}

.feedback textarea{
    border: 2px solid black;
}

.feedback button{
    background-color: #333; 
    height: 55px; 
    width: 145px; 
    border-radius: 4px; 
    color: white; 

}



.title{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    font-size: 30px; 

}

.buttons{
    display: flex; 
    flex-direction:row-reverse; 
    margin-top: 43px; 
}

.buttons button{
    margin-left: 41px; 
    /* background-color: #555;  */
    padding-left: 31px; 
    padding-right: 31px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    font-size: 20px; 
}

.h11{
    background-color: black; 
    color: white; 
    border-radius: 4px;
}

.buttons button:hover{
    background-color: gray;
}

.h11 button:hover{
    background-color: gainsboro; 
}

.title-input{
    background-color: gainsboro; 
    width: 100%; 
    height: 45px;
    border-bottom: 2px solid black;
    margin-top: 14px; 
    margin-bottom: 14px;
    font-size: 19px;
}

.lists{
    width: 94%;
    display: flex; 
    justify-content: space-between;
}

.lists button{
    margin-right: 34px;
}